.petCard {
  &__img {
    position: absolute;
    object-fit: contain;

    &__wrapper {
      position: relative;
      width: 100%;
      padding-bottom: 75%;
    }
  }

  &__info {
    display: flex;
    margin: 8px;

    &__title {
      flex: 0 0 auto;
      width: 30%;
    }

    &__value {
      flex: 0 0 auto;
      width: 70%;
      padding-left: 0.5rem;
    }
  }
}